<div class="container">
  <h3 align="center" style="color: brown; margin-bottom: 30px">
    Gestion des Rendez-vous
  </h3>
  <button
    class="btn btn-primary"
    routerLink="/dashbaordRdv/list"
    style="margin-right: 5px"
  >
    Liste des Rendez-vous
  </button>
  <button
    class="btn btn-success"
    routerLink="/dashbaordRdv/add"
    style="margin-right: 5px"
  >
    Nouveau Rendez-vous
  </button>

  <!-- <button
    class="btn btn-warning"
    routerLink="/dashbaordRdv/update"
    style="margin-right: 5px"
  >
    Mise à jour Rendez-vous
  </button> -->
  <hr />
  <router-outlet></router-outlet>
</div>
