<h2 align="center">Ghzela :Liste des Patients</h2>

  <table align="center" border="1" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>1</td>
        <td>ahmed</td>
        <td>ch</td>
        <td>xxxx</td>
        <td>224566</td>
      </tr>
      <tr >
        <td>2</td>
        <td>salah</td>
        <td>ch</td>
        <td>xxxx</td>
        <td>2278566</td>
      </tr>
    </tbody>
  </table>