<h2 align="center">Ghzela :Liste des Patients</h2>

  <table align="center" border="1" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Cin</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td> {{patient.id}} </td>
        <td> {{patient.nom}} </td>
        <td> {{patient.prenom}} </td>
        <td>  {{patient.cin}} </td>
        <td>  {{patient.phone}} </td>
        <td>  <button class="btn btn-warning" >Modifier</button>  </td>
        <td>   <button class="btn btn-danger" >Supprimer</button> </td>
      </tr>
    </tbody>
  </table>